mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: auto;
  margin: auto;
}

.imamge-preview img {
  height: 50%;
}
